<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://use.fontawesome.com/5381ef1c92.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>StoryBooks</title>

</head>

<body>

    {{> _header}}
    <main>
        <div class="container">
            {{{body}}}
        </div>
    </main>

    {{!-- Floating Button --}}
    {{#if user}}
    {{> _add-btn}}
    {{/if}}

    {{!-- Sticky Footer --}}
    {{> _footer}}
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous">
        </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js">
    </script>
    <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>


    <script>
        $(document).ready(() => {
            $('.button-collapse').sideNav();
            $('select').material_select();
        }); 

         CKEDITOR.replace('body', {
             plugins:'wysiwygarea,toolbar,basicstyles,link'
         });
    </script>
</body>

</html>